<!DOCTYPE html>
<html>

<head>

	<!-- seo related -->
	<title>Chatbot Frontend</title>

	<!-- meta related -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- vendor css & style files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">

</head>

<body>

	<div class="container">

		<div class="row padded_row">

			<!-- right side content -->
			<div class="col-md-7">

				<div class="chat_window">

					<div class="top_menu">
						<div class="title">Querybot</div>
					</div>

					<!-- dynamically rendered -->
					<ul class="messages"></ul>

					<!-- input -->
					<div class="bottom_wrapper">
						<textarea id="msg_input" placeholder="Say Hi to begin chat..."></textarea>
						<div id="send_button" class="app_button_1">Send</div>
					</div>

				</div>

			</div>

			<!-- left side content -->
			<div class="col-md-5">
				<div class="chat_window">

					<div class="top_menu">
						<div class="title">Help</div>
					</div>

					<!-- help container -->
					<div class="panel-group" id="accordion">

						<!-- help - 1 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Instructions</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									Feel free to ask about our FireSat Mission Design :D
									<br>
									<br>
									Some example queries:
									<ul>
										<li>"Tell me about yourself!"</li>
										<li>"What dataset do you interact with?"</li>
										<li>"What is the mission description?"</li>
										<li>Query for the domain and range of a property:
											<ul>
												<li>"What is the domain and/or range of property_name"?</li>
												<li>Ex: What is the domain of "system has base unitary quantity"?</li>
											</ul>
										</li>
										<li>Query for the properties of a domain/range</li>
											<ul>
												<li>"What are the properties of domain/range name?"</li>
												<li>Ex: What are the properties of range "general unitary quantity"?</li>
											</ul>
										<li>Query for subclass/superclasses</li>
											<ul>
												<li>What are the subclasses/superclasses of class_name?</li>
												<li>Ex: What are the superclasses of "http://bipm.org/jcgm/vim4#InherentOrdinalQuantity"?</li>
											</ul>
										<li>Query for mass/function of an assembly object</li>
											<ul>
												<li>What is the mass and/or function of assembly object obj_id?</li>
												<li>Ex: What is the mass and function of assembly object id 500000?</li>
											</ul>
										<li>Filter assembly objects</li>			
											<ul>
												<li>Which subjects are heavier than x and or lighter than y?</li>
												<li>Ex: Which subjects are heavier than 10 kg?</li>
											</ul>
										<li>"What" queires</li>
											<ul>
												<li>What JPL_subject ... predicate?</li>
												<li>Ex: What is the mission description?</li>
											</ul>
									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

	<!-- vendor script files -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	</script>

	<!-- custom scripts -->
	<script src="{{ url_for('static',filename='main.js') }}"></script>
</body>

</html>